global
        log 127.0.0.1    local0 notice
	maxconn 2000
        user haproxy
        group haproxy

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
	retries	3
	option	redispatch
        contimeout 5000
        clitimeout 10000
        srvtimeout 10000

listen web 0.0.0.0:80
	mode http
	stats enable
	stats uri /haproxy?stats
	stats realm Strictly\ Private
	stats auth carlos:dibayo19
	balance roundrobin
	option httpclose
	option forwardfor
	server web01 10.1.1.30:80 check
	server web02 10.1.1.40:80 check
