{% set php = {
    'php_pkg': 'php5',
    'curl_pkg': 'php5-curl',
    'fpm_pkg': 'php5-fpm',
    'gd_pkg': 'php5-gd',
    'mcrypt_pkg': 'php5-mcrypt',
    'memcached_pkg': 'php5-memcached',
    'mysql_pkg': 'php5-mysql',
    'pear_pkg': ' php-pear',
    'cli_pkg': ' php5-cli',
    'fpm_service': 'php5-fpm',
} %}
